.headerh1 {
  background-image: url('./images/spring-wardrobe-switch-still-life.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  text-align: center;
  color: #000000;
  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.product-page {
  background-image: url('./images/pexels-slendyalex-3648850.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}


.product-grid {
  flex-grow: 1; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


